img{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.all{
	display: flex;
/*	justify-content: space-between;*/

}

#midpic{
	cursor: n-resize;
}

.circle{
	cursor: cell;
}

.line{
	background-color: black;
	width: 500px;
	height: 3px;
	margin-top: 45px;
}

.text{
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

.row1{
	width: 450px;
	margin-right: 20px;

}


.row2{
	width: 450px;
	margin-right: 20px;

}


.row3{
	width: 450px

}

#text{
	margin-left: 30px;
}



#text :hover{
	font-style: italic;
}

#text2 :hover{
		font-style: italic;
}

