.body{
	display: flex;
}

.left{
	flex: 2;
}

.right{
	flex: 1;
	
}

img {
	size: 100%;
}

.bottom{
	/*margin-top: -10px;*/
	margin-top: -2vh;
	width: 100%;
}

.picright {
/*	width: 550px;
	height: 757px;
	margin-left: -500px;*/
	width: 75vh;
	height: 105vh;
	/*margin-left: -75vh;*/
	/*margin-right: 115vh;*/
	margin-left: -5vh;
}

